@model IEnumerable<GamesRente.Models.Emprestimo>

@{
    ViewBag.Title = "Emprestimos";
}

<h2>Emprestimos</h2>

<p>
    @Html.ActionLink("Cadastrar Emprestimo", "Create", null, new { @Class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AmigoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JogoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datacadastro)
        </th>

        @if (Model.Any(x => x.DataDevolucao != null))
        {
            <th>
                @Html.DisplayNameFor(model => model.DataDevolucao);
            </th>
        }

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amigo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jogo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datacadastro)
            </td>
            @if (item.DataDevolucao != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.DataDevolucao)
                </td>
            }
            else
            {
                <td>-</td>
            }<td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @Class = "btn btn-warning" })
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @Class = "btn btn-info" })
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @Class = "btn btn-danger" })
                @if (!item.Devolvido)
                {
                    @Html.ActionLink("Devolver", "Devolver", new { id = item.Id }, new { @Class = "btn btn-primary devolver" });
                }
            </td>
        </tr>
    }

</table>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(".devolver").on('click', function () {
        event.preventDefault();
        var url = $(this).attr("href");
        DevolverJogo(url)
    });
</script>